<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="es">
<head>
  <title> carrito de compras </title>   
</head>
<body>
 <div id="contenedor">
  <div id="header"> Carrito </div>
   <div id="nav"> Productos </div>
    <div id="contenido">
     
        <ul>
            <li class="derecha">
                 <img src = "azucar.jpg" alt = "azucar" width = "200px" height = "200px" />
                 <p class = "nombre"> AZUCAR </p>
                 <input class="item_Quantity" type="number" min="1" max="10" value="1"/>
                 <p> <span> 2000  </span> <button> Añadir al carrito </button> </p>
            </li>
            <li class="medio">
                <img src = "mantequilla.jpg" alt = "mantequilla" width = "200px" height = "200px" />
                <p class = "nombre"> MANTEQUILLA </p>
                <input class="item_Quantity" type="number" min="1" max="10" value="1"/>
                <p> <span> 3000  </span> <button> Añadir al carrito </button> </p>
           </li>
           <li class="izquierda">
                <img src = "queso.jpg" alt = "queso" width = "200px" height = "200px" />
                <p class = "nombre"> QUESO </p>
                <input class="item_Quantity" type="number" min="1" max="10" value="1"/>
                <p> <span> 5000  </span> <button> Añadir al carrito </button> </p>
           </li> 
        </ul> 
        
        
        <button class="terminar"> Enviar </button>
        <button class="volver">cancelar</button>


     </div>











 </div>
</body>
</html>

    